
    

.grid-container{
    display: grid;
    grid-template-columns:1% 18% 60% 18%;
    grid-template-rows: 1%  2% 2% 5% 80%;
    grid-template-areas: ". . . ."
                         ". car av ."
                         ". car ref ."
                         ". car ab ."
                         ". . tes .";
    grid-gap: 0.1% 1%;
}
#car{
    grid-area: car;
}
#av{
    grid-area: av;
}
#ab{
    grid-area: ab;
}
#tes{
    grid-area: tes;
}
#ref{
    grid-area: ref;
    color: wheat;
    a{
        text-decoration: none;
        color: wheat;
    }
}